


.travels{
    width: 100%;
    border: 1px solid transparent;
   
    background-color: #e8e8e8;
    
}
.travels-box{
    width:90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.travels-box>div{
    width: 380px;
    height: 200px;
    border: 1px solid transparent;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.featured{
    background-color: #e8e8e8;
}
.featured-box{
    width: 90%;
    margin: auto;
}
.featured-heading{
    width: 100%;
display: flex;
justify-content: start;

}
.featured-img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.featured-img-1{
    width:300px;
    height: 200px;
    background-size: contain;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_LastMinute_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
}
.featured-img-2{
    width:300px;
    height: 200px;
    background-size: contain;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_AllInclusive_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
}
.featured-img-3{
    width:300px;
    height: 200px;
    background-size: contain;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_MOD_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
}
.featured-img-4{
    width:300px;
    height: 200px;
    background-size: contain;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_JetAndReset_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
}
.featured-img>div{
    
    display: flex;
    flex-direction: column;
    color: white;
    justify-content:end;
    align-items:flex-start;
    margin-bottom: 30px;
}
.featured-img>div>h2{
    margin-left: 10px;
}
.featured-img>div>p{
    margin-left: 10px;
}
.mgm-resort{
    width: 100%;
    background-color: #e8e8e8;

}
.mgm-resort>div{
    width: 90%;
    margin: auto;
    border: 1px solid transparent;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.mgm-img{
    width: 60%;
    height: 250px;
    background-image: url("https://images.trvl-media.com/hotels/1000000/210000/203700/203613/41bd5b9c.jpg?impolicy=resizecrop&rw=1200&ra=fit");
    background-size: cover;
}
.mgm-txt{
    width: 40%;
    height: 250px;
    background-color: white;
}
.mgm-txt>div>img{
    margin-left: 20px;
}
.mgm-txt>div>h2{
    margin-left: 20px;
}
.mgm-txt>div>p{
    margin-left: 20px;
}


.ad{
    width: 100%;
    border: 1px solid transparent;
    background-color: #e8e8e8;
}
.ad-container{
    width: 90%;
    height: 100%;
    margin: auto;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ad-img{
    width:70%;
    height: 270px;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2020/09/25/15ORB_GeoTargeted_Chicago_mrq_1320x742_20200525.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh");
    background-size:cover;
    background-repeat: no-repeat;
}
.ad-txt{
    width:27%;
    height: 270px;
}

@media screen and (max-width: 800px){
    .travels-box>div{
        width: 200px;
        height: 100px;
        border: 1px solid transparent;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 415px){
    .travels-box>div{
        width: 400px;
        height: 170px;
        border: 1px solid transparent;
        margin: auto;
        margin-top:10px;
        margin-bottom: 5px;
    }
    .featured-img-1{
        width:400px;
        height: 200px;
        background-size: cover;
        background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_LastMinute_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    }
    .featured-img-2{
        width:400px;
        height: 200px;
        background-size: cover;
        background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_AllInclusive_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    }
    .featured-img-3{
        width:400px;
        height: 200px;
        background-size: cover;
        background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_MOD_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    }
    .featured-img-4{
        width:400px;
        height: 200px;
        background-size: cover;
        background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_JetAndReset_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    }

    .mgm-resort{
        width: 100%;
        background-color: #e8e8e8;
    
    }
    .mgm-resort>div{
        width: 90%;
        margin: auto;
        border: 1px solid transparent;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .mgm-img{
        width: 100%;
        height: 250px;
        background-image: url("https://images.trvl-media.com/hotels/1000000/210000/203700/203613/41bd5b9c.jpg?impolicy=resizecrop&rw=1200&ra=fit");
        background-size: cover;
    }
    .mgm-txt{
        width: 100%;
        height: 150px;
        background-color: white;
    }
    .mgm-txt>div>img{
        margin-left: 10px;
    }
    .mgm-txt>div>h2{
        margin-left: 10px;
    }
    .mgm-txt>div>p{
        margin-left: 10px;
    }

    
.ad{
    width: 100%;
    border: 1px solid transparent;
    background-color: #e8e8e8;
}
.ad-container{
    width: 90%;
    height: 100%;
    margin: auto;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ad-img{
    width:100%;
    height: 230px;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2020/09/25/15ORB_GeoTargeted_Chicago_mrq_1320x742_20200525.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh");
    background-size:cover;
    background-repeat: no-repeat;
}
.ad-txt{
    width:100%;
    height: 230px;
}
}