.signdown{
    width:450px;
    position: absolute;
    top:60px;
    right:50px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.signdown_clicked{
    display: none;
}

.members{
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    font-size: 12px;
}
.sign-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.button-link{
    width: 300px;
    height: 50px;
    background-color: rgb(180, 34, 34);
    color: white;
    cursor: pointer;

}

.sign-button>h2{
    color: #007e8f;
}
.sign-txt{
    width: 100%;
    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}
.sign-txt:hover{
    color:#007e8f;
}
.feedback{
    width: 100%;
    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}
.feedback:hover{
    color:#007e8f;
}
