.nav {
  width: 100%;
  height: 80px;
  background-color: #00253c;
}
.bluetop {
  width: 100%;
  height: 10px;
  background-color: rgb(0, 177, 255);
}
.nav-image {
  margin: 20px 0 0 80px;
}
.navflex {
  display: flex;
}
.orbucks {
  margin: 35px 0 10px 10px;
  width: 40px;
}
.b-orbucks {
  font-size: small;
  background-color: #8e0099;
  color: white;
}
